@import '../../css/vars.scss';

.board-column-task {
    background-color: $lightest-color !important;
}

.board-column-task-header {

    .MuiIconButton-root {
        max-width: 20px;

        .MuiSvgIcon-root {
            max-width: 20px;
        }
    }
}

.between-tasks {
    min-height: 20px;
}