@import '../../css/vars.scss';

.board-column-task {
    background-color: $lightest-color !important;
}

.board-column-task-header {

    .MuiCardHeader-content {
        overflow: auto !important;
    }

    .MuiIconButton-root {
        max-width: 20px;
        margin-left: 10px;

        .MuiSvgIcon-root {
            max-width: 20px;
        }
    }
}

.between-tasks {
    min-height: 20px;
}