@import '../../css/vars.scss';

.board-card-avatar {
    background-color: $lighter-color !important;
}

.board-card-actions {
    margin: 0px 10px 20px 10px !important;
}

.board-card-content {
    min-height: 150px;
    .MuiTextField-root {
        display: flex;
    }
}