@import '../../app/SimpleKanbanApp.scss';

.board-card {
    min-height: 250px;

    .MuiIconButton-root {
        color:$darker-color !important;
    }
}
.board-card-avatar {
    background-color: $lighter-color !important;
}

.board-card-actions {
    margin: 0px 10px 20px 10px !important;
}

.board-card-content {
    cursor: pointer;

    .MuiTextField-root {
        display: flex;
    }
}