@import '../../app/SimpleKanbanApp.scss';

.board-column {
    display: flex !important;
    flex-direction: column !important;
    height: 100%;
    min-width: 250px;
}

.board-column-header {
    background-color: $darker-color;
    color: white !important;

    .MuiIconButton-root {
        color: white !important;
    }
}

.board-column-content {
    height: 90%;
    overflow-y: auto;
    min-height: 300px;
}

.between-columns {
    display: flex !important;
    flex-direction: column !important;
    height: 100%;
    min-width: 20px;
}