$darkest-color: 332e3c;
$darker-color: #846C5B;
$main-color: #A29587;
$lighter-color: #c4b2bc;
$lightest-color: #d8d4f2;

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body, #root {
    height: 100%;
}

body {
    margin: 0px;
}

