$darkest-color: #32292F;
$darker-color: #575366;
$main-color: #5762d5;
$lighter-color: #6e7dab;
$lightest-color: #dbdaea;

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body, #root {
    height: 100%;
}

body {
    margin: 0px;
    background-color: $lightest-color  !important;
}

.MuiButton-containedPrimary{
    background-color: $darker-color !important;
}

.MuiButton-containedSecondary {
    background-color: $lightest-color !important;
}

.action-buttons-container {
    text-align: end;
}

