$darkest-color: #2b358d;
$darker-color: #8ec295;
$main-color: #2a61a8;
$lighter-color: #98c1d9;
$lightest-color: #dcf1e5;

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body, #root {
    height: 100%;
}

body {
    margin: 0px;
    background-color: $lightest-color  !important;
}

.MuiButton-containedPrimary{
    background-color: $darkest-color !important;
}

.MuiButton-textPrimary{
    color: $main-color !important;
    font-weight: bold !important;
}

.MuiButton-containedSecondary{
    background-color: $darker-color !important;
}

.MuiButton-textSecondary {
    color: $darker-color !important;
    font-weight: bold !important;
}

.action-buttons-container {
    text-align: end;
}

.MuiCardHeader-title {
    font-size: 1rem !important;
}

