@import '../../css/vars.scss';

header {
    background-color: $main-color !important;
    a {
        text-decoration: None;
        color: white;
        font-weight: 800;
    }
}

.header-avatar {
    background-color: $lighter-color !important;
}

.app-name {
    cursor: pointer;
}
